body, html {
  height: 100%;
}
.wrapper {
  height: 100%;
}
.app {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.primary-header {
  flex:0 0 auto;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.primary-aside {
  width: 200px;

}

main {
  flex: 1 0px;
}

.primary-footer {
  flex: 0 0 auto;
}

