.user-list li {
  padding: 10px;
  border-bottom: solid 1px #bbb;
  display: flex;

  .user-list-prop {
    flex: 1 auto;
  }
  .user-list-delete-btn {
    color:red;
    font-weight: bold;
    text-decoration: none;
  }
}
