body {
    margin: 0;
    padding: 0;
    font: 12px/14px sans-serif;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.primary-header {
    flex:1 100%;
    padding: 20px;
    background: #f8f800;
}

aside.primary-aside {
    /*flex: 1 auto;*/
    width: 200px;
    padding: 20px;
    background: #666;
    color: #fff;
}

.primary-aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.primary-aside li {
    padding: 5px 0;
}
.primary-aside a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.primary-aside a:hover {
    text-decoration: underline;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
    flex: 1 0px;
}


.home-page {
    padding: 20px;
}


.search-header {
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: solid 1px #bbb;
}

.search-results {
    padding: 20px;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.search-results li {
    padding: 5px 0;
}

.widget-list li {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.search-footer {
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
}